In [0]:
import sys


import pandas as pd #collection of functions for data processing and analysis 
import matplotlib #collection of functions for scientific  visualization

from collections import Counter
import numpy as np #package for scientific computing

import matplotlib.pyplot as plt

from numpy import random

#Classification Model Algorithms
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score,confusion_matrix,classification_report
#Common Model Preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn import metrics

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns

In [0]:
df = pd.read_csv('consolidated_data1.csv')

In [0]:
df.head()

   Year  time stamp    car1_0  car1_1  ...  car32_1   car33_0  car33_1  output
0  2013           0  0.000000     0.0  ...      0.0  0.000000      0.0       1
1  2013           1  0.000000     1.0  ...      1.0  0.000000      1.0      11
2  2013           2  1.021548     2.0  ...      2.0  1.018563      2.0      11
3  2013           3  1.044093     3.0  ...      3.0  1.041447      3.0      11
4  2013           4  1.066638     4.0  ...      4.0  1.064330      4.0      11

[5 rows x 69 columns]

In [0]:
df.shape

(75538, 69)

In [0]:
df.columns=['Year', 'time_stamp', 'car1_0', 'car1_1', 'car2_0', 'car2_1', 'car3_0',
       'car3_1', 'car4_0', 'car4_1', 'car5_0', 'car5_1', 'car6_0', 'car6_1',
       'car7_0', 'car7_1', 'car8_0', 'car8_1', 'car9_0', 'car9_1', 'car10_0',
       'car10_1', 'car11_0', 'car11_1', 'car12_0', 'car12_1', 'car13_0',
       'car13_1', 'car14_0', 'car14_1', 'car15_0', 'car15_1', 'car16_0',
       'car16_1', 'car17_0', 'car17_1', 'car18_0', 'car18_1', 'car19_0',
       'car19_1', 'car20_0', 'car20_1', 'car21_0', 'car21_1', 'car22_0',
       'car22_1', 'car23_0', 'car23_1', 'car24_0', 'car24_1', 'car25_0',
       'car25_1', 'car26_0', 'car26_1', 'car27_0', 'car27_1', 'car28_0',
       'car28_1', 'car29_0', 'car29_1', 'car30_0', 'car30_1', 'car31_0',
       'car31_1', 'car32_0', 'car32_1', 'car33_0', 'car33_1', 'output']
df.columns

Index(['Year', 'time_stamp', 'car1_0', 'car1_1', 'car2_0', 'car2_1', 'car3_0',
       'car3_1', 'car4_0', 'car4_1', 'car5_0', 'car5_1', 'car6_0', 'car6_1',
       'car7_0', 'car7_1', 'car8_0', 'car8_1', 'car9_0', 'car9_1', 'car10_0',
       'car10_1', 'car11_0', 'car11_1', 'car12_0', 'car12_1', 'car13_0',
       'car13_1', 'car14_0', 'car14_1', 'car15_0', 'car15_1', 'car16_0',
       'car16_1', 'car17_0', 'car17_1', 'car18_0', 'car18_1', 'car19_0',
       'car19_1', 'car20_0', 'car20_1', 'car21_0', 'car21_1', 'car22_0',
       'car22_1', 'car23_0', 'car23_1', 'car24_0', 'car24_1', 'car25_0',
       'car25_1', 'car26_0', 'car26_1', 'car27_0', 'car27_1', 'car28_0',
       'car28_1', 'car29_0', 'car29_1', 'car30_0', 'car30_1', 'car31_0',
       'car31_1', 'car32_0', 'car32_1', 'car33_0', 'car33_1', 'output'],
      dtype='object')

In [0]:
df['time_stamp'].max()*2/3

7722.0

In [0]:


lag_considered=list(range(10,201,10))
col_for_lag=['car1_0','car2_0','car3_0','car4_0','car5_0','car6_0','car7_0','car8_0','car9_0','car10_0','car11_0','car12_0','car13_0','car14_0','car15_0','car16_0','car17_0','car18_0','car19_0','car20_0','car21_0','car22_0','car23_0','car24_0','car25_0','car26_0','car27_0','car28_0','car29_0','car30_0','car31_0','car32_0','car33_0',]
for j in lag_considered:
  for i in range(len(col_for_lag)):
    new_col='car'+str(i+1)+'_'+str(j)
    df[new_col]=df.groupby(['Year'])[col_for_lag[i]].shift(j,axis=0)

In [0]:
df=df.dropna()

In [0]:
df.shape

(74138, 729)

In [0]:
df['output'].value_counts()

33    10092
10     9513
3      7506
1      7348
17     6316
15     5607
11     3721
14     2460
18     2433
5      2147
19     2120
7      2104
4      2011
9      1987
16     1251
26     1214
24     1050
20      813
32      752
13      594
2       536
30      516
6       445
31      422
25      367
8       337
21      261
23      134
27       81
Name: output, dtype: int64

In [0]:
list(X_test.columns)

Index(['Year', 'car1_0', 'car1_1', 'car2_0', 'car2_1', 'car3_0', 'car3_1',
       'car4_0', 'car4_1', 'car5_0',
       ...
       'car24_200', 'car25_200', 'car26_200', 'car27_200', 'car28_200',
       'car29_200', 'car30_200', 'car31_200', 'car32_200', 'car33_200'],
      dtype='object', length=727)

In [0]:
train=df[df['time_stamp']<=7437]
test=df[df['time_stamp']>7437]

X_train = train.drop(['output','time_stamp'], axis=1)
y_train = train['output']
X_test = test.drop(['output','time_stamp'], axis=1)
y_test = test['output']

In [0]:
from sklearn import preprocessing
x = X_train.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_temp = pd.DataFrame(x_scaled, index = X_train.index)
X_train= df_temp

In [0]:

x = X_test.values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_temp = pd.DataFrame(x_scaled, index = X_test.index)
X_test= df_temp

In [0]:
rfc=RandomForestClassifier(random_state=42)
param_grid = { 
    'n_estimators': [50],
    'max_features': ['auto'],
    'max_depth' : [10],
    'criterion' :['entropy']
}

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
CV_rfc.fit(X_train, y_train)
print("tuned hpyerparameters :(best parameters) ",CV_rfc.best_params_)
print("accuracy :",CV_rfc.best_score_)

tuned hpyerparameters :(best parameters)  {'criterion': 'entropy', 'max_depth': 10, 'max_features': 'auto', 'n_estimators': 50}
accuracy : 0.41614354248700874

In [0]:
rfc=RandomForestClassifier(random_state=42)
param_grid = { 
    'n_estimators': [100],
    'max_features': ['auto'],
    'max_depth' : [10],
    'criterion' :['entropy']
}

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
CV_rfc.fit(X_train, y_train)
print("tuned hpyerparameters :(best parameters) ",CV_rfc.best_params_)
print("accuracy :",CV_rfc.best_score_)

tuned hpyerparameters :(best parameters)  {'criterion': 'entropy', 'max_depth': 10, 'max_features': 'auto', 'n_estimators': 100}
accuracy : 0.41719321779611296

In [3]:
param_grid = {'learning_rate':[0.05,0.01], 'n_estimators':[100,50],'max_depth':[4,8]}
gbm=GradientBoostingClassifier(min_samples_split=2, min_samples_leaf=1, subsample=1,max_features='sqrt', random_state=10)
CV_gbm=GridSearchCV(estimator=gbm, param_grid=param_grid, cv= 5)
CV_gbm.fit(X_train,y_train)
print("tuned hpyerparameters :(best parameters) ",CV_gbm.best_params_)
print("accuracy :",CV_gbm.best_score_)

accuracy : 0.432785945793285